@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Manrope', sans-serif;
	font-size: 13px;
	background-color: #f0f0f0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

/* card */
.card {
	display: flex;
	max-width: 730px;
	min-height: 294px;
}
/* card ends */

/* img container */
.img-container {
	img {
		width: 292px;
		height: 295px;
		border-radius: 5px 0px 0px 5px;
	}
}
/* img container ends */

/* card info */
.card-info {
	border-radius: 0px 5px 5px 0px;
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 5%;
	height: 295px;
	.title {
		font-size: 0.65rem;
		color: $very-dark-grayish-blue;
	}

	.para {
		padding: 3% 0;
		color: $grayish-blue;
	}

	/* card info bottom */
	.card-info-bottom {
		padding-top: 2%;
		display: flex;
		justify-content: space-between;
		flex: 1 1 auto;
		align-items: center;
		position: relative;
		.left {
			display: flex;
			align-items: center;
			flex: 1 1 50%;
			img {
				height: 50px;
				width: 50px;
				border-radius: 50%;
			}
			.person-info {
				padding-left: 2%;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				h4 {
					color: $very-dark-grayish-blue;
				}
				p {
					color: $grayish-blue;
				}
			}
		}
		.right {
			border-radius: 50%;
			background-color: $light-grayish-blue;
			width: 40px;
			height: 40px;
			text-align: center;
			position: relative;
			z-index: 1;
			#share {
				position: absolute;
				width: 20px;
				height: 20px;
				left: 10px;
				top: 10px;
			}
		}
	}
	/* card info bottom ends*/
}

/* card info bottom */

#snackbar {
	position: absolute;
	display: none;
	align-items: center;
	justify-content: space-around;
	top: -70%;
	left: 64%;
	min-width: 220px;
	height: 40px;
	background-color: $very-dark-grayish-blue;
	border-radius: 5px;
	padding: 16px;
	bottom: 30px;
	box-shadow: 1px 1px 3px;
	z-index: 1;
	p {
		color: $grayish-blue;
		letter-spacing: 5px;
		font-size: 0.6rem;
	}
	img {
		height: 20px;
		padding-left: 10px;
	}
	.arrow {
		background-color: $very-dark-grayish-blue;
		width: 15px;
		height: 15px;
		position: absolute;
		top: 33px;
		left: 48%;
		transform: rotate(45deg);
	}
}

/* card info ends */

/* attribution */
.attribution {
	margin: 5%;
	color: black;
	a {
		color: black;
		text-decoration: underline;
	}
}
/* attribution ends */

@media screen and (max-width: 611px) {
	.card {
		flex-wrap: wrap;
		max-width: 292px;
		.img-container {
			margin-bottom: -4px;
		}
	}

	.card-info .card-info-bottom .right {
		z-index: 3;
	}
	
	#snackbar {
		position: absolute;
		display: none;
		align-items: center;
		justify-content: flex-start;
		flex-basis:40%;
		top: 0px;
		left: -15px;
		min-width: 290px;
		height: 81px;
		background-color: $very-dark-grayish-blue;
		border-radius: 0px 0px 5px 5px;
		padding: 0px 0px 3px 34px;
		bottom: 30px;
		box-shadow: 1px 1px 3px;   
		p{
			font-size: 12px;
		}
		 img{
			 padding-left: 20px;
		 }
		.arrow{
			display: none;
		}
	}
}
